<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1674058522977</Id>
		<Name><![CDATA[pauseEvent]]></Name>
		<ExcludeFromBuild>true</ExcludeFromBuild>
		<X>797</X>
		<Y>252</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="occuresOnce">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="RateUnits">PER_HOUR</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1674115200000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[8168]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
