<?xml version="1.0" encoding="UTF-8"?>
<Events>
	<Event>
		<Id>1716200767637</Id>
		<Name><![CDATA[e_calculateEnergyBalance]]></Name>
		<Description><![CDATA[Trigger voor energieberekeningen in de model backbone. Volgorde is belangrijk voor consistente resultaten.

@since: Sprint 6
@author: Jorrit]]></Description>
		<ExcludeFromBuild>true</ExcludeFromBuild>
		<X>310</X>
		<Y>110</Y>
		<Label>
			<X>10</X>
			<Y>0</Y>
		</Label>
		<PublicFlag>false</PublicFlag>
		<PresentationFlag>true</PresentationFlag>
		<ShowLabel>true</ShowLabel>
		<Properties TriggerType="timeout" Mode="cyclic">
			<Timeout Class="CodeUnitValue">
				<Code><![CDATA[1]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</Timeout>
			<Rate Class="CodeUnitValue">
				<Code><![CDATA[1/p_timeStep_h]]></Code>
				<Unit Class="RateUnits">PER_HOUR</Unit>
			</Rate>
			<OccurrenceAtTime>true</OccurrenceAtTime>
			<OccurrenceDate>1658563200000</OccurrenceDate>
			<OccurrenceTime Class="CodeUnitValue">
				<Code><![CDATA[0]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</OccurrenceTime>
			<RecurrenceCode Class="CodeUnitValue">
				<Code><![CDATA[0.25]]></Code>
				<Unit Class="TimeUnits">HOUR</Unit>
			</RecurrenceCode>
			<Condition>false</Condition>
		</Properties>
		<Action xmlns:al="http://anylogic.com"/>
	</Event>
</Events>
